*       @org-nexocodex/sm-p01-daniel @org-nexocodex/codeowners(cw)
/src/   @org-nexocodex/sm-p01-daniel @org-nexocodex/codeowners(cw)
/docs/  @org-nexocodex/sm-p01-daniel @org-nexocodex/codeowners(cw)

/.github/    @org-nexocodex/codeowners(cw)

/docs/rubrica-evaluacion.md  @org-nexocodex/codeowners(cw)